<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <title>Automaticator: the Automatic Webhook API Demo App</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">

  <meta name="description" content="A Demo app using the Automatic API">
</head>
<body>
  <div class="github-fork-ribbon-wrapper">
    <div class="github-fork-ribbon">
      <a href="https://github.com/Automatic/automaticator">Fork me on GitHub</a>
    </div>
  </div>
  <div id="wrapper">
    <div class="row">
      <div class="titlebar">
        <h1>Automaticator</h1>
        <div class="tagline">The Automatic Webhook API Demo App</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1><%= message %></h1>
        <h2><%= error.status || '' %></h2>
        <pre>
          <%= error.stack || '' %>
          <p><%= description %></p>
        </pre>
      </div>
    </div>
  </div>

</body>
</html>
