<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <title>Automaticator: the Automatic Webhook API Demo App</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">

  <meta name="description" content="A Demo app using the Automatic API">
</head>
<body>
  <div class="github-fork-ribbon-wrapper">
    <div class="github-fork-ribbon">
      <a href="https://github.com/Automatic/automaticator">Fork me on GitHub</a>
    </div>
  </div>
  <div class="mainHeader">
    <div class="wrapper">
      <a href="http://automatic.com" class="logo"></a>
      <div class="titlebar">
        <h1>Automaticator</h1>
        <div class="tagline">The Automatic Webhook API Demo App</div>
      </div>
    </div>
  </div>
  <div class="panel signin-panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="signin-title">Real-time Trip Data</h2>
          <p>Automaticator shows trip data from your <a href="http://automatic.com" target="_blank">Automatic</a> on a map in real time. Visualize ignition status, trip completed, and MIL (Check Engine Light) changes.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="signin-graphics">
            <div class="logo-badge-automatic"></div>
            <div class="icon-integrations-arrows"></div>
            <div class="logo-badge-automaticator">A</div>
          </div>
        </div>
      </div>
      <div id="alert" class="alert"></div>
      <div class="row border-both">
        <div class="signin-instructions">
          <div class="signin-text">Authorize your Automatic account</div>
        </div>
        <a class="signin-btn" href="/authorize/">Authorize</a>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="signin-learnmore">View this app on <a href="https://github.com/automatic/automaticator">Github</a></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
